body {
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
   }

.login-container {
    width: 400px;
    padding: 25px;
    background-color: #fff;
    margin: 150px auto;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

h1 {
     
    color: #6495ed; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    transform: skew(0deg, 0deg) scale(1.2); /* Efecto 3D y escala */
    font-size: 40px; /* Tamaño del texto */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #6495ed;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}


   
  